:root {
  --primaryFont: Roboto;
  --primaryFontSize: 14px;
  --secondFontSize: 16px;
  --primaryBgColor: #e5e5e5;
  --secondaryBgColor: #f5f4fa;
  --lightBgColor: #ffffff;
  --lightColor: #ffffff;
  --textColor: #757575;
  --darckColor: #212121;
  --accentColor: #2196f3;
  --hoverBtnColor: #188ce8;
  --logoColor: #2196f3;
  --logoColorDarck: #000000;
  --logoColorLight: #ffffff;
  --darkBgColor: #2f303a;
  --footerColor: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: var(--primaryFont), Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--primaryFontSize);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  appearance: none;
  border: 0;
  border-radius: 4px;
}

.title {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--darckColor);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ========Header======== */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

/* ========Logo========*/
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logoColor);
}
.logo-footer {
  padding: 0;
  margin: 0;
}
.logo-darck {
  color: var(--logoColorDarck);
}
.logo-light {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--logoColorLight);
}
.logo:hover > .logo-light,
.logo:focus > .logo-light,
.logo:hover > .logo-darck,
.logo:focus > .logo-darck {
  color: var(--accentColor);
}

/* ========Navigation======== */
.nav-list {
  display: flex;
}
.nav-item:not(:first-child) {
  margin-left: 50px;
}
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--darckColor);
}
.nav-link.current,
.nav-link:hover,
.nav-link:focus {
  color: var(--accentColor);
}

/* ========Tel , Mail======== */
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:nth-child(2n) {
  margin-left: 30px;
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accentColor);
}

/* ========Top section======== */
.top {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--darkBgColor);
}

.top.overlay {
  max-width: 1600px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 57, 0.4)
    ),
    url(../images/bg-img.jpg);
  background-position: center;
  background-size: cover;
}

.top-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--lightColor);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.top-btn {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: var(--secondFontSize);
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--lightColor);
  background-color: var(--accentColor);
  border-radius: 4px;
  cursor: pointer;
}
.top-btn:focus,
.top-btn:hover {
  background-color: var(--hoverBtnColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ========Features section======== */
.features-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.features-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.features-thumb {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondaryBgColor);
  border-radius: 4px;
  text-align: center;
}
.features-caption {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ========Work section======== */
.work {
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
}
.work-item:not(:first-child) {
  margin-left: 30px;
}

/* ========Team section======== */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 4);
  background-color: var(--lightBgColor);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondFontSize);
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;
  font-size: var(--secondFontSize);
  line-height: 1.18;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 44px;
  height: 44px;
	color: var(--textColor);
	border-radius: 50%;
}
.icon-social {
	fill: currentColor;
}

.social-link:hover,
.social-link:focus {
	color: var(--lightColor);
	background-color: var(--accentColor);
}

/* ========Footer======== */
.footer {
  padding: 60px 0;
  background-color: var(--darkBgColor);
}
.address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.address-link {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--lightColor);
}
.address-link:hover,
.address-link:focus {
  color: var(--accentColor);
}
.footer-item:first-child {
  margin-bottom: 9px;
}
.footer-link {
  font-style: normal;
  color: var(--footerColor);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accentColor);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--lightColor);
}

.footer-social-link {
	color: var(--lightColor);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon-social {
	fill: currentColor;
}

/* ========Portfolio page======== */

/* ========Filter button======== */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:first-child) {
  margin-left: 8px;
}
.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--secondFontSize);
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondaryBgColor);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--lightColor);
  background-color: var(--accentColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========Examples list======== */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.examples-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.examples-content {
  padding: 20px 24px;
  background-color: var(--lightBgColor);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.examples-title {
	margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--textColor);
}
.examples-link {
  display: block;
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
